accelerate
transformers
diffusers[torch]
ftfy
# albumentations
opencv-python
einops
pytorch-lightning
bitsandbytes
prodigyopt
lion-pytorch
tensorboard
safetensors
# gradio
altair
easygui
toml
voluptuous
huggingface-hub
# for Image utils
imagesize

# For logging
rich
